SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=


GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=

APP_JWT_ISSUER=
APP_JWT_EXPIRATION_SECONDS=
APP_JWT_SECRET=

PROFILE=
